---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: PR - Build Changed Containerfiles

on:
  pull_request:
    paths:
      - "**/Containerfile"

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      changed-containerfiles: ${{ steps.changed-containerfiles.outputs.changed_containerfiles }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get Changed Containerfiles
        uses: ./.github/actions/changed-containerfiles
        id: changed-containerfiles

  build:
    name: Build Containerfile
    runs-on: ubuntu-latest
    needs:
      - prepare
    strategy:
      matrix:
        files: ${{ fromJSON(needs.prepare.outputs.changed-containerfiles) }}
      fail-fast: false
      max-parallel: 4
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: ${{ matrix.files }}
          push: false
