---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: PR - Lint Changed Containerfiles

on:
  pull_request:
    paths:
      - "**/Containerfile"

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      changed-containerfiles: ${{ steps.changed-containerfiles.outputs.changed_containerfiles }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Get Changed Containerfiles
        uses: ./.github/actions/changed-containerfiles
        id: changed-containerfiles

  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    needs:
      - prepare
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      matrix:
        files: ${{ fromJSON(needs.prepare.outputs.changed-containerfiles) }}
      fail-fast: false
      max-parallel: 4
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Lint Containerfile
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: ${{ matrix.files }}
          format: sarif

      - name: Write SARIF to file
        if: always()
        run: |
          echo "$HADOLINT_RESULTS" > containerfile-lint.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        if: always()
        with:
          sarif_file: containerfile-lint.sarif
          category: hadolint
