---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: RW - Build and Push Container

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      app_version:
        required: true
        type: string
      containerfile_path:
        required: true
        type: string

jobs:
  build:
    name: Build and Push Container
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Docker meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: meta
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ inputs.app_name }}
          flavor: latest=false
          annotations: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}/${{ inputs.containerfile_path }}
            org.opencontainers.image.title=${{ inputs.app_name }}
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.app_version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.app_version }}
            type=semver,pattern={{major}},value=${{ inputs.app_version }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        id: push
        with:
          file: ${{ inputs.containerfile_path }}
          push: true
          annotations: ${{ steps.meta.outputs.annotations }}
          tags: ${{ steps.meta.outputs.tags }}

      - name: Attestation
        uses: actions/attest-build-provenance@a2bbfa25375fe432b6a289bc6b6cd05ecd0c4c32 # v4.1.0
        with:
          push-to-registry: true
          subject-name: ghcr.io/${{ github.repository_owner }}/${{ inputs.app_name }}
          subject-digest: ${{ steps.push.outputs.digest }}
